<h2 mat-card-title class="dialog-title"><span *ngIf="data">Edit device</span><span *ngIf="!data">Add device</span></h2>
<mat-divider></mat-divider>
<h4>Description:</h4>

<div class="row">
  <mat-dialog-content class="flex">Desc...</mat-dialog-content>
</div>


<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <!--<button mat-button [mat-dialog-close]="true">Yes</button>-->
  <button mat-raised-button (click)="closeDialog(data)" color="accent"><span *ngIf="data">Save</span><span *ngIf="!data">Add</span></button>
</mat-dialog-actions>