<h2 mat-card-title class="dialog-title"><span *ngIf="data">Edit device</span><span *ngIf="!data">Add device</span></h2>
<mat-divider></mat-divider>



<mat-dialog-content>
    <form #addDeviceForm="ngForm">
    <mat-form-field class="devicename">
        <input matInput type="text" required placeholder="Name" [(ngModel)]="device_name" name="device_name">
    </mat-form-field>


    <upload-form [imageName]="time" (hasFile)="hasFile($event)"#imageUpload></upload-form>


        <br>
    <mat-form-field class="quantity">
        <input matInput type="number" required placeholder="Quantity" [(ngModel)]="device_quantity" name="device_quantity" min="1">
        <span matSuffix>pcs.</span>
    </mat-form-field>


    <br>

    <mat-form-field style="width: 100%">
        <textarea matInput placeholder="Description" rows="5" [(ngModel)]="device_description" name="description"></textarea>

    </mat-form-field>

    <br>


    <mat-form-field class="tag-chip">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                      [removable]="removable" (remove)="remove(tag)" color="accent">
                {{tag.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Tags"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)"
                    name="tags"/>
        </mat-chip-list>
    </mat-form-field>

    </form>



</mat-dialog-content>




<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <!--<button mat-button [mat-dialog-close]="true">Yes</button>-->
  <button mat-raised-button (click)="addDevice(addDeviceForm)" color="accent"><span *ngIf="data">Save</span><span *ngIf="!data">Add</span></button>
</mat-dialog-actions>