.device-name{
    margin-top: 0px;
    margin-bottom: 0px;
}

.lend-info{
    margin-top: 0px;
    margin-bottom: 0px;
}

.search-input{
    margin-left: 2em;
}

.lineItem{
    margin-right: 2em;
}

button{
    margin-left: 10px;
}