<h1 class="inline">My lendings</h1><span class="spacer"> </span>

<mat-divider></mat-divider>

<mat-tab-group>
  <mat-tab label="Tab 1">Content 1</mat-tab>
  <mat-tab label="Tab 2">Content 2</mat-tab>
</mat-tab-group>

<mat-list>
  <mat-list-item *ngFor="let lending of lendings | async; let device of lending.device |async" (click)="openLendDetailDialog(lending)" class="list-item">
    <h4 matLine>{{lending.device.name}}</h4>
    <p matLine class="demo-2"> <b>Start date:</b> {{lending.lend.start_date.toLocaleDateString()}}  <b>End date:</b> {{lending.lend.end_date.toLocaleDateString()}} <b>Number of devices:</b> {{lending.lend.device_quantity}}</p>
    <button mat-raised-button color="accent" (click)="openLendDetailDialog(lending)">Details</button>
    <button mat-raised-button color="accent" (click)="openLendReturnDialog(lending)">Return</button>
    <!--<button mat-raised-button color="accent" (click)="returnItem()">Return</button>-->


    <mat-icon color="primary" *ngIf="(lending.state==1)" class="state-icon">schedule</mat-icon>
    <mat-icon color="warn" *ngIf="(lending.state==2)" class="state-icon">error</mat-icon>

  </mat-list-item>
</mat-list>

<!-- .toLocaleDateString()
<mat-list>
  <mat-list-item *ngFor="let user of users; let i = index">
    <mat-icon matListIcon>account_box</mat-icon>
    <h4 matLine>{{user.name}} {{user.key}}</h4>
    <p matLine class="demo-2"> {{user.email_address}} {{user.present_lendings}}</p>

  </mat-list-item>
</mat-list>-->