

<h2 mat-card-title class="dialog-title">Lending: {{data.name}}</h2>
<mat-divider></mat-divider>
<h4>Lending details: </h4>

<div class="row">
  <mat-dialog-content class="flex">
    <form #requestForm="ngForm">

      <span class="indent"> <b>Available: </b>{{data.quantity_available}}</span> <br><br>
      <mat-form-field class="indent">
        <input matInput type="number" placeholder="Number of devices" [(ngModel)]="numberOfDevices" name="numberInput" required  max="{{data.quantity_available}}" min="1" [formControl]="myControl">
        <mat-error *ngIf="myControl.hasError('tooMany')">Too many devices</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field style="width: 95%" class="indent dedent">
        <textarea matInput placeholder="Comment" [(ngModel)]="comment" name="comment" rows="5"></textarea>

      </mat-form-field>

    </form>
  </mat-dialog-content>
</div>


<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-raised-button color="accent" (click)="onSubmit(requestForm)">Request</button>

  <!--<button mat-raised-button (click)="onSubmit(lendForm)" color="accent" [disabled]="data.quantity_available<=0">Lend</button>-->
</mat-dialog-actions>
