StackLayout{horizontal-align:center}TextField{width:85%;border-style:solid;border-width:medium;margin-top:2%;caret-color:#2E7D32}Button{margi-top:4%;width:75%}Label{margin-top:5%;horizontal-align:center}
