StackLayout{padding-top:5;padding-bottom:25;padding-left:5}Label{font-size:10;padding:6;white-space:normal}#emailLabel{font-size:20;padding-top:0;padding-left:100}#nameLabel{font-size:30;padding-left:15}
