<h1 class="inline">Devices</h1>


<chip-search-input (searchTags)="setSearch($event)"></chip-search-input>


<span class="new-device-btn">
  <button mat-raised-button color="accent" (click)="openDeviceEditDialog()" *ngIf="this.auth.accessFeature(this.auth.admini)"><mat-icon>add_circle</mat-icon> Add device</button>
</span>
<mat-divider></mat-divider>

<mat-list class="matList">
  <mat-list-item *ngFor="let device of devices | async | deviceTagsFilter:filter" class="list-item" (click)="openDeviceInfoDialog(device)">
    <mat-icon matListIcon>devices_other</mat-icon>
    <h4 matLine><a color="accent" class="link" (click)="openDeviceInfoDialog(device)">{{device.name}}</a></h4>
    <!--<span><button mat-raised-button color="primary" (click)="openDialog(device)">Open</button></span>-->

    <span><button mat-raised-button color="accent" (click)="openLendDeviceDialog(device)" [disabled]="device.quantity_available<=0" *ngIf="this.auth.accessFeature(this.auth.admini)">Lend</button></span>
      <button mat-raised-button color="accent" (click)="requestDevice(device)" [disabled]="device.quantity_available<=0" *ngIf="this.auth.accessFeature(this.auth.authed)">Request</button>


    <!--<span><button mat-button color="warn" (click)="removeDevice(device.key)" disabled>Remove</button></span>-->

  </mat-list-item>
</mat-list>





