.inline{
    display: inline-block;
}

.fill{
    width: auto;
}

.spacer {
    flex: 1 1 auto;
}


.new-device-btn{
    float: right;
    margin: 20px;
}

.tag-chip{
    margin-left: 50px;
    width: 400px;
}

button{
    margin-left: 10px;
}

.matList{
    overflow-y: auto;
}