

<h2 mat-card-title class="dialog-title">Lending: {{device_data.name}}</h2>
<mat-divider></mat-divider>


<div class="row" style="height: 81%">
  <mat-dialog-content class="flex">




    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup" completed="false">
        <form #lendForm="ngForm" >
          <ng-template matStepLabel>Fill out lend details</ng-template>



          <h4>Lending details: </h4>

            <mat-form-field >
              <input type="text" placeholder="Borrower" aria-label="Number" matInput
                     [formControl]="myControl" [(ngModel)]="borrower"
                     [matAutocomplete]="auto" name="borrower" required
                      (keyup)="isFirstValid()"
                     [readonly]="!!request">

              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>


              <mat-error *ngIf="myControl.hasError('noSuchUser')">There isn't a user with this name</mat-error>
            </mat-form-field>
            <br>


            <mat-form-field style="width: 43%">
              <input matInput [matDatepicker]="startdate"
                     placeholder="Start date" disabled
                     [(ngModel)]="startDate" name="startDate"
                     >
              <!--<mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>-->
              <mat-datepicker #startdate></mat-datepicker>
            </mat-form-field>

            -

            <mat-form-field style="width: 48%">
              <input matInput [matDatepicker]="enddate"
                     placeholder="Choose the end date"
                     [(ngModel)]="endDate" name="endDate"
                     [min]="minDate" required
                     >
              <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
              <mat-datepicker #enddate></mat-datepicker>
            </mat-form-field>


            <mat-form-field>
              <input matInput type="number" placeholder="Number of devices"
                     [(ngModel)]="numberOfDevices" name="numberOfDevices"
                     required max="{{device_data.quantity_available}}" min="1"
                     (keyup)="amountChange()" [formControl]="amountControl"
                      [readonly]="!!request">

              <mat-error *ngIf="amountControl.hasError('tooMany')">Number must be at maximum {{device_data.quantity_available}}</mat-error>
              <mat-error *ngIf="amountControl.hasError('tooLow')">Number must be at least 1</mat-error>
            </mat-form-field>
            <span class="indent" *ngIf="!request">/ {{device_data.quantity_available}}</span>

            <mat-form-field style="width: 100%">
              <textarea matInput placeholder="Comment" [(ngModel)]="comment"
                        name="comment" rows="5"
                        ></textarea>

            </mat-form-field>


        </form>
      </mat-step>


      <mat-step [stepControl]="secondFormGroup">
        <form #sform="ngForm">
          <ng-template matStepLabel>Select IMEIs</ng-template>


            <div *ngIf="!secondFormGroup.hasError('imeiNumberWrong')">{{getSelectedIMEIs().length}}/{{numberOfDevices}}</div>
            <mat-error *ngIf="secondFormGroup.hasError('imeiNumberWrong')" class="inline">{{getSelectedIMEIs().length}}/{{numberOfDevices}}</mat-error>
            <mat-error *ngIf="secondFormGroup.hasError('imeiNumberWrong')" class="inline indet">Selected number of imeis isn't right</mat-error>
          <span *ngFor="let imei of IMEIStoSelectFrom" style="position: relative">
            <mat-checkbox [(ngModel)]="imei.selected"  (ngModelChange)="imeiSelectChange()"
                          name="cb-{{imei.imei}}"
                          [disabled]="!imei.selected && getSelectedIMEIs().length >= numberOfDevices"
                          class="onitem">Use</mat-checkbox>
              <mat-expansion-panel class="inline">
                <mat-expansion-panel-header>
                  <mat-panel-title>



                  </mat-panel-title>
                  <mat-panel-description>
                    IMEI: {{imei.imei}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <span *ngIf="imei.comments.length!=0; else noComment">
                  <p *ngFor="let comment of imei.comments"> {{comment}} </p>
                </span>
                <ng-template #noComment><p>There are no comments</p></ng-template>

              </mat-expansion-panel>
          </span>



        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form>
          <ng-template matStepLabel>Checkout</ng-template>


          <h4>{{borrower&&borrower.name}}</h4>
          <h4>{{numberOfDevices}} x {{device_data.name}}</h4>
          <h4 class="inline">From: </h4><span class="indent">{{startDate.toLocaleDateString()}}</span>
          <h4 class="inline">To: </h4><span class="indent">{{endDate.toLocaleDateString()}}</span>
          <h4>Device IMEIs:</h4>
          <div *ngFor="let i of getSelectedIMEIs()">{{i}}</div>
          <br>
          <mat-form-field style="width: 100%">
              <textarea matInput placeholder="Comment" [(ngModel)]="comment"
                        name="comment" rows="5"
              ></textarea>

          </mat-form-field>




        </form>
      </mat-step>
    </mat-horizontal-stepper>






  </mat-dialog-content>
</div>


<mat-dialog-actions>
  <button mat-button (click)="closeDialog()" color="warn" >Cancel</button>

  <button mat-raised-button (click)="stepback(stepper)" [disabled]="stepper.selectedIndex === 0">Back</button>
  <button mat-raised-button (click)="step(stepper)" *ngIf="stepper.selectedIndex != 2">Next</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <!--<button mat-button [mat-dialog-close]="true">Yes</button>-->
  <button mat-raised-button (click)="onSubmit(lendForm)" color="accent" [disabled]="device_data.quantity_available<=0 && !request" *ngIf="stepper.selectedIndex === 2">Lend</button>
</mat-dialog-actions>