

<h2 mat-card-title>You are about to lend {{data.name}}</h2>
<mat-divider></mat-divider>
<h4>Description:</h4>

<div class="row">
  <mat-dialog-content class="flex">{{data.description}}</mat-dialog-content>
</div>


<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <!--<button mat-button [mat-dialog-close]="true">Yes</button>-->
  <button mat-raised-button (click)="closeDialog(data)" color="accent">Rent</button>
</mat-dialog-actions>