<h1 class="inline">Requests</h1>

<chip-search-input (searchTags)="setSearch($event)"></chip-search-input>

<mat-divider></mat-divider>



  <mat-tab-group >
    <mat-tab *ngFor="let requestSet of requestSets" label="{{requestSet.title}}">
      <mat-list class="matList">
          <mat-list-item *ngFor="let request of requestSet.requests | async | requestSearch:filter;" (click)="openDetails(request)" class="list-item stated-list-item">
            <h4 matLine class="inline">
              <span >{{request.device.name}}</span>
            </h4>
            <p matLine class="demo-2">
              <span class="lineItem"><b>Request date:</b> {{request.request.request_date.toLocaleDateString()}}</span>
              <span class="lineItem"><b>Number of devices:</b> {{request.request.device_quantity}}</span>
              <span class="lineItem"><b>User:</b> {{request.user.name}}</span>
            </p>
            <button mat-raised-button color="accent" (click)="openDetails(request)">Details</button>
            <!-- <button mat-raised-button color="accent" (click)="openLendReturnDialog(lending)">Return</button> -->

            <!--<button mat-raised-button color="accent" (click)="returnItem()">Return</button>-->


            <mat-icon color="primary" *ngIf="(request.state==1)" class="state-icon">schedule</mat-icon>
            <mat-icon color="warn" *ngIf="(request.state==2)" class="state-icon">error</mat-icon>

          </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>


<!--
<mat-list-item *ngFor="let request of requests | async; let device of request.device |async; let user of request.user |async;" class="list-item">
  <h4 matLine class="inline">
    <span class="userName">{{request.user.name}}</span>
  </h4>
  <p matLine class="demo-2">
    <span class="lineItem"><b>Request date:</b> {{request.request.request_date.toLocaleDateString()}}</span>
    <span class="lineItem"><b>Number of devices:</b> {{request.request.device_quantity}}</span>
    <span class="lineItem"><b>Device: </b>{{request.device.name}}</span>
  </p>



  <mat-icon color="primary" *ngIf="(request.state==1)" class="state-icon">schedule</mat-icon>
  <mat-icon color="warn" *ngIf="(request.state==2)" class="state-icon">error</mat-icon>

</mat-list-item>


<mat-divider></mat-divider>
-->