.container {
    display: flex;
    flex-direction: column;

    margin-top: 2em;
    margin-bottom: 5em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-all {
    margin-left: auto;
    margin-right: auto;
}

.center-all > * {
    margin-left: auto;
    margin-right: auto;
}

.loginbtn {
    display: block;
}

.title {
    margin-top: 1em;
    margin-bottom: 3em;
}

.small-desc {
    margin: 0px;
    margin-top: 1em;
}

.error-text{
    font-size: 0.8em;
}



