<span class="top-bar">
  <mat-toolbar color="primary">
    <span>Inventory</span>
    <span class="spacer"></span>
    <span *ngIf="this.auth.isLoggedIn()">

      <span  class="email">{{
        getName()
      }}</span>

      <button mat-raised-button color="warn" (click)="logout()" i18n="logout btn|Logout btn@@navLogout">Logout <mat-icon>exit_to_app</mat-icon></button>
    </span>
  </mat-toolbar>



  <nav>
      <button mat-button color="primary" routerLink="/login" *ngIf="!this.auth.isLoggedIn()"
              routerLinkActive="mat-raised-button"><span i18n="nav login button|Login button on the navigation list@@navLoginButton">Login</span></button>
      <button mat-button color="primary" routerLink="/register" *ngIf="!this.auth.isLoggedIn()"
              routerLinkActive="mat-raised-button" ><span i18n="nav register button|Register button on the navigation list@@navRegisterButton">Register</span></button>


      <button mat-button color="primary" routerLink="/home"  *ngIf="this.auth.accessFeature(this.auth.anyone)"
              routerLinkActive="mat-raised-button" ><span i18n="nav home button|Home button on the navigation list@@navHomeButton">Home</span></button>
     <button mat-button color="primary" routerLink="/lendings" *ngIf="this.auth.accessFeature(this.auth.authed)"
              routerLinkActive="mat-raised-button" ><span i18n="nav lendings button|Lendings button on the navigation list@@navLendingsButton">Lendings</span></button>
     <button mat-button color="primary" routerLink="/requests" *ngIf="this.auth.accessFeature(this.auth.authed)"
             routerLinkActive="mat-raised-button" ><span i18n="nav devices button|Devices button on the navigation list@@navDevicesButton">Requests</span></button>

    <button mat-button color="primary" routerLink="/users" *ngIf="this.auth.accessFeature(this.auth.admini)"
            routerLinkActive="mat-raised-button" ><span i18n="nav users button|Users button on the navigation list@@navUsersButton">Users</span></button>
    <button mat-button color="primary" routerLink="/devices" *ngIf="this.auth.accessFeature(this.auth.anyone)"
            routerLinkActive="mat-raised-button" ><span i18n="nav devices button|Devices button on the navigation list@@navDevicesButton">Devices</span></button>

  </nav>
  <mat-divider></mat-divider>
</span>

<div class="content">
  <router-outlet></router-outlet>
</div>
<mat-divider></mat-divider>



