<mat-toolbar color="primary">
  <span>Inventory</span>
</mat-toolbar>



<nav>
  <button mat-button color="primary" routerLink="/users">Users</button>
  <button mat-button color="primary" routerLink="/devices">Devices</button>
  <button mat-button color="primary" routerLink="/register">Sign up</button>
  <button mat-button color="primary" routerLink="/login">Login</button>
</nav>
<mat-divider></mat-divider>
<div style="padding-left: 3em; padding-right: 3em;">
  <router-outlet></router-outlet>
</div>
<mat-divider></mat-divider>



