

<span class="header-block">
  <h2 mat-card-title class="dialog-title inline" >{{data.name}} </h2>
  <qr-code [value]=qrCode [size]="50" ></qr-code>
</span>

<mat-divider></mat-divider>


<mat-dialog-content class="flex">



<h4 class="inline">Device quantity:</h4>
  <img class="device-img"[src]=img_src *ngIf="data.image">
  <span class="indent filler">
    <table>
      <tr>
        <td><b>Total</b>: </td>
        <td>{{data.quantity_total}} pcs.</td>
      </tr>
      <tr>
        <td><b>Available</b>: </td>
        <td>{{data.quantity_available}} pcs.</td>
      </tr>
    </table>

  </span>




<h4>Description:</h4>
  <div class="row indent">
    {{data.description}}
  </div>

<div>
  <mat-chip-list>
    <mat-chip *ngFor="let tag of displayTags" selectable="false">{{tag}}</mat-chip>
  </mat-chip-list>


</div>

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-raised-button (click)="lendDevice(data)" color="accent" [disabled]="data.quantity_available<=0" *ngIf="this.auth.accessFeature(this.auth.admini)">Lend</button>
  <button mat-raised-button (click)="requestDevice(data)" color="accent" [disabled]="data.quantity_available<=0" *ngIf="this.auth.accessFeature(this.auth.admini)">Request</button>
  <button mat-raised-button (click)="editDevice(data)" color="accent" *ngIf="this.auth.accessFeature(this.auth.admini)">Edit</button>
</mat-dialog-actions>