.inline{
    display: inline-block;
}

.spacer {
    flex-direction: column;
}

.flex {
    flex: 1;
}

.row{
    display: flex;
    flex-direction: column;
    height: 60%;
    padding-bottom: 2em;
}