<h2 mat-card-title class="dialog-title">Lend details</h2>
<mat-dialog-content style="padding-bottom: 2em;">
  <h5>Devices:</h5>
  <p class="indent"> {{data.lend.device_quantity}} x {{data.device.name}}</p>
  <h5>Date:</h5>
  <div class="indent">
    <h5 class="inline">Start date:</h5>  {{data.lend.start_date.toLocaleDateString()}} <br>
    <h5 class="inline">End date:</h5> {{data.lend.end_date.toLocaleDateString()}}
  </div>
  <h5>Comment:</h5>
  <p class="indent">{{data.lend.comment}}</p>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()">Close</button>

  <!--<button mat-raised-button (click)="closeDialog()">Lengthen lend</button>-->
</mat-dialog-actions>
