<h4 mat-card-title>Lend details</h4>
<mat-dialog-content style="padding-bottom: 2em;">
  <h5>Devices:</h5>
  <p class="indent"> {{data.device_number}} x {{data.device_id}}</p>
  <h5>Date:</h5>
  <div class="indent">
    <h5 class="inline">Start date:</h5>  {{data.start_date.toLocaleDateString()}} <br>
    <h5 class="inline">End date:</h5> {{data.end_date.toLocaleDateString()}}
  </div>
  <h5>Comment:</h5>
  <p class="indent">{{data.comment}}</p>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>

  <button mat-raised-button (click)="closeDialog()">Lengthen lend</button>
</mat-dialog-actions>
