{
  border: 1px dashed red !important;
}

body{
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-all {
  margin-left: auto;
  margin-right: auto;
}

.center-all > * {
  margin-left: auto;
  margin-right: auto;
}

.link {
  cursor: pointer;
}

.dialog-title{
  margin-top: 0px;
}

.indent{
  padding-left: 1em;
}

.dedent{
  padding-right: 1em;
}
